.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4); /* слегка затемняющий */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    /*border-radius: 50%;*/
    cursor: pointer;
}

.pic-img {
  object-fit: cover;
}

.pic-container:hover .overlay {
    opacity: 1;
}