{% extends 'store/admin/home/index.html' %}
{% load store_filters %}


{% block search %}
    <form class="input-group w-auto" action="{# {% url 'search' %} #}" method="get">
        <input type="search" name="q" class="form-control" id="search" placeholder="Поиск" aria-label="Recipient’s username" aria-describedby="button-addon2" value="{% if query %}{{ query }}{% endif %}">
        <button class="btn btn-outline-secondary search-btn" type="submit" id="button-addon2"><i class="bi bi-search"></i></button>
    </form>
    <a class="btn ms-auto btn-primary text-decoration-none" href="{% url 'admin_items_create' %}">Добавить</a>
{% endblock %}


{% block products-body %}
        <table class="table table-hover mb-0">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название</th>
                    <th scope="col">Изображение</th>
                    <th scope="col">Активность</th>
                    <th scope="col">Артикул</th>
                </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <th scope="row" class="align-content-center">{{ item.id }}</th>
                    <td class="align-content-center">
                        <a href="{% url 'admin_item' item_id=item.id %}?shop={{ shop.id }}" class="text-decoration-none">{{ item }}</a>
                    </td>
                    <td class="align-content-center"><img src="{{ item|get_image }}" alt="" width="75px" height="75px"></td>
                    <td class="align-content-center"><input class="form-check-input" type="checkbox" value="" id="checkChecked" aria-label="" {% if item.is_active %}checked{% endif %}></td>
                    <td class="align-content-center">{{ item.sku }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}